* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* color styling */
  --loader-bg-clr: white;
  --loader-txt-clr: rgb(5, 32, 13);
}

.page-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: transform 1.5s 0s ease;
  -moz-transition: transform 1.5s 0s ease;
  -o-transition: all 1.5s 0s ease;
  transition: all 1.5s 0s ease;
  opacity: 0;
  z-index: -5;
  transform: translate3d(0px, -1080px, 0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-loader .loading-heading-container h1 {
  color: var(--loader-txt-clr);
}

.page-loader .loading-img-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 20%;
  padding-top: 20%;
}

.page-loader .loading-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
}

.page-loader .loading-img-container img:nth-child(1) {
  width: 10vw;
}

.page-loader .loading-img-container img:nth-child(2) {
  width: 20vw;
}

.page-loader .loading-img-container img:nth-child(3) {
  width: 30vw;
}

.page-loader.page-loader-open {
  display: flex;
  z-index: 20;
  opacity: 1;
  position: absolute;

  background-color: var(--loader-bg-clr);
  transform: translate3d(0px, -0px, 0px);
}

@media screen and (max-width: 1000px) {
  .page-loader .loading-img-container {
    width: 40%;
    padding-top: 40%;
  }
}
