* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #020024;
  background: linear-gradient(115deg, #020024 0%, #540860 29%, rgba(0, 3, 33, 0.9052) 100%);
}

body {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.loading.open {
  opacity: 0.98;
  z-index: 6;
}

.loading {
  background-color: #8a9dc5;
  opacity: 0;
  z-index: -5;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading h1 {
  font-family: alda, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: azure;
}

.loading-anim {
  width: 30vh;
  height: 30vh;
  position: relative;
}

@media screen and (orientation: portrait) {
  .loading-anim {
    width: 30vw;
    height: 30vw;
  }
}

.loading-anim .planet {
  width: 30%;
  height: 30%;
  position: absolute;
  left: calc(50% - 15%);
  top: calc(50% - 15%);
}

.loading.loading-anim .orbit {
  -webkit-animation: none;
          animation: none;
}

.loading.open .loading-anim .orbit {
  opacity: 1;
  width: 60%;
  height: 60%;
  position: absolute;
  -webkit-animation: rotation 9s infinite linear;
          animation: rotation 9s infinite linear;
  left: calc(50% - 30%);
  top: calc(50% - 30%);
}

.loading.open .loading-anim .orbit:last-of-type {
  width: 90%;
  height: 90%;
  animation: rotation 11s infinite linear reverse;
  left: calc(50% - 45%);
  top: calc(50% - 45%);
}

.loading.open .cls-2,
.loading.open .cls-3 {
  fill: #8a9dc5;
}

.navigation {
  position: absolute;
  bottom: 7vw;
  right: 7vw;
}

@media screen and (orientation: landscape) {
  .navigation {
    bottom: 7vh;
    right: 7vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 1367px) {
  .navigation {
    top: 5vh;
    right: 5vh;
  }
}

.navigation .hamburger,
.navigation .create,
.navigation .view,
.navigation .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}

.navigation .hamburger:active,
.navigation .create:active,
.navigation .view:active,
.navigation .info:active {
  -webkit-animation: pulse 1s 1;
          animation: pulse 1s 1;
}

.navigation .hamburger svg,
.navigation .create svg,
.navigation .view svg,
.navigation .info svg {
  width: 10vw;
  max-width: 110px;
  height: 8vw;
  max-height: 75px;
  fill: rgba(0, 0, 0, 0.4);
}

@media screen and (orientation: portrait) and (min-width: 1000px) {
  .navigation .hamburger,
  .navigation .create,
  .navigation .view,
  .navigation .info {
    width: 10vw;
    height: 10vw;
  }
  .navigation .hamburger svg,
  .navigation .create svg,
  .navigation .view svg,
  .navigation .info svg {
    width: 8vw;
    height: 6.5vw;
  }
}

@media screen and (orientation: landscape) {
  .navigation .hamburger,
  .navigation .create,
  .navigation .view,
  .navigation .info {
    width: 10vh;
    height: 10vh;
  }
  .navigation .hamburger svg,
  .navigation .create svg,
  .navigation .view svg,
  .navigation .info svg {
    width: 5vh;
    height: 4vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 1365px) {
  .navigation .hamburger,
  .navigation .create,
  .navigation .view,
  .navigation .info {
    width: 7vh;
    height: 7vh;
  }
  .navigation .hamburger:hover,
  .navigation .create:hover,
  .navigation .view:hover,
  .navigation .info:hover {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
  }
  .navigation .hamburger svg,
  .navigation .create svg,
  .navigation .view svg,
  .navigation .info svg {
    width: 5vh;
    height: 4vh;
  }
}

.navigation .hamburger {
  overflow: hidden;
  position: relative;
  background-color: #ff9900;
}

.navigation .hamburger i {
  width: 8vw;
  height: 5px;
  border-radius: 5px;
  margin: 7%;
  background-color: #ffe81d;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media screen and (orientation: portrait) and (min-width: 1000px) {
  .navigation .hamburger i {
    width: 6vw;
  }
}

@media screen and (orientation: landscape) {
  .navigation .hamburger i {
    width: 7vh;
  }
}

.navigation .create,
.navigation .view,
.navigation .info {
  position: absolute;
  -webkit-animation: none;
          animation: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navigation .create:active,
.navigation .view:active,
.navigation .info:active {
  -webkit-animation: pulse 1s 1;
          animation: pulse 1s 1;
}

.navigation .create {
  background-color: #fff700;
  left: -25vw;
  top: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navigation .create svg {
  fill: #ff9900;
}

.navigation .view {
  background-color: #ffcc00;
  left: -17vw;
  top: -17vw;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.navigation .view svg {
  fill: #ff8000;
}

.navigation .info {
  background-color: #ffa200;
  top: -25vw;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.navigation .info svg {
  fill: #ffff00;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

@media screen and (orientation: portrait) and (min-width: 1000px) {
  .navigation .create {
    left: -18vw;
  }
  .navigation .view {
    left: -12vw;
    top: -12vw;
  }
  .navigation .info {
    top: -18vw;
  }
}

@media screen and (orientation: landscape) {
  .navigation .create {
    left: -20vh;
  }
  .navigation .view {
    left: -13vh;
    top: -13vh;
  }
  .navigation .info {
    top: -20vh;
  }
}

.navigation.open .hamburger i:first-of-type {
  -webkit-transform: translateY(2.6vw) rotate(45deg);
          transform: translateY(2.6vw) rotate(45deg);
}

.navigation.open .hamburger i:nth-child(2) {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

.navigation.open .hamburger i:last-of-type {
  -webkit-transform: translateY(-2.6vw) rotate(315deg);
          transform: translateY(-2.6vw) rotate(315deg);
}

@media screen and (orientation: portrait) and (min-width: 1000px) {
  .navigation.open .hamburger i:first-of-type {
    -webkit-transform: translateY(1.9vw) rotate(45deg);
            transform: translateY(1.9vw) rotate(45deg);
  }
  .navigation.open .hamburger i:last-of-type {
    -webkit-transform: translateY(-1.9vw) rotate(315deg);
            transform: translateY(-1.9vw) rotate(315deg);
  }
}

@media screen and (orientation: landscape) {
  .navigation.open .hamburger i:first-of-type {
    -webkit-transform: translateY(2vh) rotate(45deg);
            transform: translateY(2vh) rotate(45deg);
  }
  .navigation.open .hamburger i:last-of-type {
    -webkit-transform: translateY(-2vh) rotate(315deg);
            transform: translateY(-2vh) rotate(315deg);
  }
}

.navigation.open .create,
.navigation.open .view,
.navigation.open .info {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (orientation: landscape) and (min-width: 1365px) {
  .navigation .hamburger,
  .navigation .create,
  .navigation .view {
    display: none;
  }
  .navigation .info {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 0;
    right: 0;
    opacity: 0.3;
  }
  .navigation .info:hover {
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    opacity: 1;
  }
}

.frosted-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 80vh;
  max-height: 100vh;
  z-index: 5;
  background: inherit;
  border-radius: 10vw 10vw 0 0;
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.frosted-panel.open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.frosted-panel .create-container,
.frosted-panel .info-container,
.frosted-panel .view-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5% 5% 0 5%;
}

.frosted-panel .create-container .buttons,
.frosted-panel .info-container .buttons,
.frosted-panel .view-container .buttons {
  width: 100%;
  padding-bottom: 7vw;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frosted-panel .create-container .buttons .return,
.frosted-panel .info-container .buttons .return,
.frosted-panel .view-container .buttons .return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  height: 15vw;
  background-color: #ff8000;
  border-radius: 50%;
}

.frosted-panel .create-container .buttons .return svg,
.frosted-panel .info-container .buttons .return svg,
.frosted-panel .view-container .buttons .return svg {
  fill: #ffff00;
  width: 8vw;
  height: 6vh;
}

.frosted-panel .info-container {
  text-align: center;
  color: #0c062c;
}

.frosted-panel .info-container .bold {
  font-weight: 400;
}

.frosted-panel .info-container p {
  font-family: alda, serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  margin: 1vh 0 1vh 0;
  font-size: 2.5em;
  line-height: 1.5;
}

.frosted-panel .info-container h1 {
  font-family: alda, serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 20px;
  margin-top: 0;
  max-width: 40vw;
  font-size: 2.8em;
  line-height: 1.6;
}

.frosted-panel .info-container a {
  text-decoration: none;
  color: #5d6a86;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}

.frosted-panel .info-container a:after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: calc(50%);
  border-radius: 50%;
  background-color: #5d6a86;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.frosted-panel .info-container a:hover {
  -webkit-filter: drop-shadow(0 0 0.8rem #d60084);
          filter: drop-shadow(0 0 0.8rem #d60084);
}

.frosted-panel .info-container a:hover:after {
  width: 100%;
  left: 0;
}

.frosted-panel.create .create-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frosted-panel.info .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frosted-panel.view .view-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
.info-icon {
  position: absolute;
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  z-index: 5;
  top: 1vh;
  right: 1vw;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease;
}

.info-icon :hover {
  opacity: 1;
  filter: drop-shadow(0 0 0.8rem #d60084);
}

 .info-icon svg {
  fill: white;
  transition: all 0.2s ease;
} 

 .x-icon {
  display: block;
}

.i-icon {
  display: none;
}

.info-icon.closed .x-icon {
  display: none;
}

.info-icon.closed .i-icon {
  display: block;
}

.info-container {
  transition: all 0.3s ease;
  position: absolute;
  z-index: 3;
  background-color: #8a9dc5;
  color: azure;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.97;
}

.info-container p {
  font-family: alda, serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin: 20px;
  max-width: 30vw;
  font-size: 1.2em;
  line-height: 1.6;
}

.info-container h1 {
  font-family: alda, serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 20px;
  margin-top: 0;
  max-width: 40vw;
  font-size: 2.8em;
  line-height: 1.6;
}

.info-container a {
  text-decoration: none;
  color: #5d6a86;
  transition: all 0.2s ease;
  position: relative;
}

.info-container a:after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: calc(50%);
  border-radius: 50%;
  background-color: #5d6a86;
  transition: all 0.2s ease;
}

.info-container a:hover {
  filter: drop-shadow(0 0 0.8rem #d60084);
}

.info-container a:hover:after {
  width: 100%;
  left: 0;
}

.bold {
  font-weight: 400;
}

.info-icon.closed ~ .info-container {
  opacity: 0;
  z-index: -2;
} */
@media screen and (max-width: 1400px) {
  /* .info-container p {
    max-width: 80vw;
    font-size: 1.4em;
    margin: 10px;
  }

  .info-container h1 {
    max-width: 80vw;
    font-size: 2.7em;
    margin: 10px;
  } */
}

@media screen and (max-width: 1000px) {
  .loading-anim {
    width: 50vw;
    height: 50vw;
  }
  /* .info-icon {
    width: 15vw;
    height: 15vw;
    max-width: 100px;
    max-height: 100px;
  }

  .info-container p {
    max-width: 80vw;
    margin: 10px;
    font-size: 2.2em;
  }

  .info-container h1 {
    max-width: 80vw;
    font-size: 4em;
  } */
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
}
/*# sourceMappingURL=main.css.map */