* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    115deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(84, 8, 96, 1) 29%,
    rgba(0, 3, 33, 0.9051995798319328) 100%
  );
}

body {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.loading.open {
  opacity: 0.98;
  z-index: 6;
}

.loading {
  background-color: #8a9dc5;
  opacity: 0;
  z-index: -5;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading h1 {
  font-family: alda, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: azure;
}

.loading-anim {
  width: 30vh;
  height: 30vh;
  position: relative;
}

@media screen and (orientation: portrait) {
  .loading-anim {
    width: 30vw;
    height: 30vw;
  }
}

.loading-anim .planet {
  width: 30%;
  height: 30%;
  position: absolute;
  left: calc(50% - 15%);
  top: calc(50% - 15%);
}

.loading.loading-anim .orbit {
  animation: none;
}

.loading.open .loading-anim .orbit {
  opacity: 1;
  width: 60%;
  height: 60%;
  position: absolute;
  animation: rotation 9s infinite linear;
  left: calc(50% - 30%);
  top: calc(50% - 30%);
}

.loading.open .loading-anim .orbit:last-of-type {
  width: 90%;
  height: 90%;
  animation: rotation 11s infinite linear reverse;
  left: calc(50% - 45%);
  top: calc(50% - 45%);
}

.loading.open .cls-2,
.loading.open .cls-3 {
  fill: #8a9dc5;
}

.navigation {
  position: absolute;
  bottom: 7vw;
  right: 7vw;

  @media screen and (orientation: landscape) {
    bottom: 7vh;
    right: 7vh;
  }

  @media screen and (orientation: landscape) and (min-width: 1366px) {
    top: 5vh;
    right: 5vh;
  }

  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    bottom: 7vh;
    right: 7vh;
  }

  .hamburger,
  .create,
  .view,
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;

    &:active {
      animation: pulse 1s 1;
    }

    svg {
      width: 10vw;
      max-width: 110px;
      height: 8vw;
      max-height: 75px;
      fill: rgba(0, 0, 0, 0.4);
    }

    @media screen and (orientation: portrait) and (min-width: 1000px) {
      width: 10vw;
      height: 10vw;
      svg {
        width: 8vw;
        height: 6.5vw;
      }
    }

    @media screen and (orientation: landscape) {
      width: 10vh;
      height: 10vh;
      svg {
        width: 5vh;
        height: 4vh;
      }
    }
    @media screen and (orientation: landscape) and (min-width: 1365px) {
      &:hover {
        animation: pulse 1s infinite;
      }
      width: 7vh;
      height: 7vh;

      svg {
        width: 5vh;
        height: 4vh;
      }
    }
  }

  .hamburger {
    overflow: hidden;
    position: relative;
    background-color: #ff9900;

    i {
      width: 8vw;
      height: 5px;
      border-radius: 5px;
      margin: 7%;
      background-color: #ffe81d;
      transition: all 0.2s ease-in;

      @media screen and (orientation: portrait) and (min-width: 1000px) {
        width: 6vw;
      }

      @media screen and (orientation: landscape) {
        width: 7vh;
      }
    }
  }

  .create,
  .view,
  .info {
    position: absolute;
    animation: none;
    transform: scale(0);
    transition: all 0.2s ease;
    &:active {
      animation: pulse 1s 1;
    }
  }
  .create {
    background-color: #fff700;
    left: -25vw;
    top: 0;
    transition-delay: 0s;
    svg {
      fill: #ff9900;
    }
  }

  .view {
    background-color: #ffcc00;
    left: -17vw;
    top: -17vw;
    transition-delay: 0.2s;

    svg {
      fill: #ff8000;
    }
  }

  .info {
    background-color: #ffa200;
    top: -25vw;
    transition-delay: 0.4s;
    svg {
      fill: #ffff00;
      transform: scale(0.85);
    }
  }

  @media screen and (orientation: portrait) and (min-width: 1000px) {
    .create {
      left: -18vw;
    }

    .view {
      left: -12vw;
      top: -12vw;
    }

    .info {
      top: -18vw;
    }
  }

  @media screen and (orientation: landscape) {
    .create {
      left: -20vh;
    }

    .view {
      left: -13vh;
      top: -13vh;
    }

    .info {
      top: -20vh;
    }
  }

  &.open {
    .hamburger {
      i {
        &:first-of-type {
          transform: translateY(2.6vw) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translateY(-1000px);
        }

        &:last-of-type {
          transform: translateY(-2.6vw) rotate(315deg);
        }

        @media screen and (orientation: portrait) and (min-width: 1000px) {
          &:first-of-type {
            transform: translateY(1.9vw) rotate(45deg);
          }

          &:last-of-type {
            transform: translateY(-1.9vw) rotate(315deg);
          }
        }

        @media screen and (orientation: landscape) {
          &:first-of-type {
            transform: translateY(2vh) rotate(45deg);
          }

          &:last-of-type {
            transform: translateY(-2vh) rotate(315deg);
          }
        }
      }
    }
    .create,
    .view,
    .info {
      transform: scale(1);
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 1365px) {
  .navigation {
    .hamburger,
    .create,
    .view {
      display: none;
    }

    .info {
      transition: none;
      transform: scale(1);
      top: 0;
      right: 0;
      opacity: 0.3;
      &:hover {
        transition: opacity 0.15s ease-in-out;
        opacity: 1;
      }
    }
  }
}

.frosted-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 60vh;
  max-height: 100vh;
  color: rgb(12, 6, 44);
  // overflow-y: scroll;
  z-index: 5;
  background: inherit;
  border-radius: 10vw 10vw 0 0;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(15px);
  transform: translateY(105%);
  transition: all 0.2s ease;

  &.open {
    transform: translateY(0%);
  }

  @media screen and (orientation: landscape) and (min-width: 1600px) {
    min-height: 30vh;
  }

  .create-container,
  .info-container,
  .view-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 7% 0 7%;
    // padding-bottom: 5%;

    @media screen and (orientation: portrait) and (min-width: 1000px) {
      width: 70%;
      margin: 0 auto;
    }

    @media screen and (orientation: landscape) {
      padding-top: 2%;
      width: 70%;
      margin: 0 auto;
    }
    @media screen and (orientation: landscape) and (min-width: 1365px) {
      padding: 5% 0 0 0;
    }
    @media screen and (orientation: landscape) and (min-width: 1600px) {
      padding: 2vh 0 0 0;

      width: 40%;
    }

    .buttons {
      width: 100%;
      padding-bottom: 7vw;
      justify-self: flex-end;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media screen and (orientation: landscape) {
        padding-bottom: 7vh;
      }

      @media screen and (orientation: landscape) and (min-width: 1600px) {
        padding-bottom: calc(2vh + 20px);
      }
      .return {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vw;
        height: 15vw;
        background-color: #ff8000;
        border-radius: 50%;
        svg {
          fill: #ffff00;
          width: 8vw;
          height: 6vh;
        }

        @media screen and (orientation: portrait) and (min-width: 1000px) {
          width: 10vw;
          height: 10vw;
          svg {
            width: 8vw;
            height: 6.5vw;
          }
        }

        @media screen and (orientation: landscape) {
          width: 10vh;
          height: 10vh;
          svg {
            width: 5vh;
            height: 4vh;
          }
        }
        @media screen and (orientation: landscape) and (min-width: 1365px) {
          width: 7vh;
          height: 7vh;

          svg {
            width: 5vh;
            height: 4vh;
          }
        }
      }

      .info-return {
        justify-self: flex-end;
      }

      .create-submit {
        background-color: #24dce9;
        animation: pulse 1.5s infinite;
        svg {
          fill: white;
        }
      }
    }
  }

  .info-container {
    .bold {
      font-weight: 400;
    }
    p {
      font-family: alda, serif;
      font-weight: 300;
      font-style: normal;
      text-align: justify;
      margin: 1vh 0 1vh 0;
      font-size: 2.5em;
      line-height: 1.5;
      width: 100%;
      &:last-of-type {
        margin-bottom: 2vh;

        @media screen and (orientation: landscape) and (min-width: 1600px) {
          margin-bottom: calc(2vh + 20px);
        }
      }
    }

    h1 {
      font-family: alda, serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      margin: 20px;
      margin-top: 0;
      font-size: 2.8em;
      line-height: 1.6;
    }

    a {
      text-decoration: none;
      color: #5d6a86;
      transition: all 0.2s ease;
      position: relative;

      &:after {
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: calc(50%);
        border-radius: 50%;
        background-color: #5d6a86;
        transition: all 0.2s ease;
      }

      &:hover {
        filter: drop-shadow(0 0 0.8rem #d60084);
        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
    @media screen and (orientation: portrait) and (min-width: 1000px) {
      p {
        font-size: 1.4em;
        line-height: 1.6;
      }
      h1 {
        padding-bottom: 0;
      }
    }

    @media screen and (orientation: landscape) {
      p {
        font-size: 1.2em;
        line-height: 1.5;
      }
      h1 {
        font-size: 2em;
        margin-bottom: 0;
      }
    }
    @media screen and (orientation: landscape) and (min-width: 1365px) {
      p {
      }
      h1 {
        margin-bottom: 20px;
      }
    }

    @media screen and (orientation: landscape) and (min-width: 1600px) {
      h1 {
        margin-top: 20px;
      }
    }
  }

  .create-container {
    color: #00087d;
    // width: 100%;
    text-align: left;

    @media screen and (orientation: portrait) and (min-width: 1000px) {
      width: 70%;
    }

    @media screen and (orientation: landscape) {
      padding-top: 2%;
      width: 50%;
    }

    // @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    //   width: 45%;
    // }

    h1 {
      font-family: alda, serif;
      font-weight: 300;
      font-style: normal;
      text-align: center;
      margin: 30px;
      margin-top: 0;
      font-size: 5em;
      line-height: 1.6;

      @media screen and (orientation: portrait) and (min-width: 1000px) {
        font-size: 3em;
      }
      @media screen and (orientation: landscape) {
        font-size: 2em;
      }
    }

    .form-title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 15px;

      &:nth-of-type(even) {
        padding-bottom: 0;
      }

      h2 {
        font-family: alda, serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        margin: 5px;
        margin-top: 0;
        font-size: 3em;
        line-height: 1.2;
        padding-right: 20px;
      }

      svg {
        height: 2.5em;
        width: 2.5em;
        padding: 0.25em;
        border: 1px solid white;
        border-radius: 50%;
        fill: white;
        cursor: pointer;
      }

      @media screen and (orientation: portrait) and (min-width: 1000px) {
        h2 {
          font-size: 1.8em;
          padding-right: 10px;
        }

        svg {
          height: 1.2em;
          width: 1.2em;
          padding: 0.2em;
        }
      }

      @media screen and (orientation: landscape) {
        h2 {
          font-size: 1.2em;
          padding-right: 10px;
        }

        svg {
          height: 0.8em;
          width: 0.8em;
          padding: 0.1em;
        }
      }
      @media screen and (orientation: landscape) and (min-width: 1365px) {
        h2 {
        }

        svg {
        }
      }
    }
  }

  .poem-text {
    background-color: transparent;
    font-family: alda, serif;
    font-weight: 300;
    font-style: normal;
    width: 98%;
    min-height: 60vw;
    border: 2px solid rgba($color: #00087d, $alpha: 0.5);
    border-radius: 1%;
    margin-bottom: 10%;
    padding: 10px;
    line-height: 1.6;
    font-size: 1.6em;

    @media screen and (orientation: portrait) and (min-width: 1000px) {
      font-size: 1.2em;
      min-height: 35vw;
    }

    @media screen and (orientation: landscape) {
      font-size: 1.2em;
      min-height: 30vh;
      margin-bottom: 30px;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
      min-height: 30vh;
    }

    &:active {
      border-color: #00087d;
    }
  }

  .mood-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 6.5em;
    margin-bottom: 10%;
    @media screen and (orientation: portrait) and (min-width: 1000px) {
      font-size: 4em;
    }
    @media screen and (orientation: landscape) {
      font-size: 3em;
      margin-bottom: 30px;
    }
    .radio_item {
      display: none;
    }

    .label_item {
      opacity: 0.15;
    }

    .radio_item:checked + label {
      opacity: 1;
      &:after {
        width: 30%;
        left: calc(50% - 15%);
      }
    }

    label {
      position: relative;
      cursor: pointer;
      &:after {
        content: "";
        width: 0%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: calc(50%);
        border-radius: 25%;
        background-color: #ffff00;
        transition: all 0.2s ease;
      }
    }
  }

  &.create {
    .create-container {
      display: flex;
    }
  }

  &.info {
    .info-container {
      display: flex;
    }
  }

  &.view {
    .view-container {
      display: flex;
    }
  }
}

@media screen and (max-width: 1400px) {
  /* .info-container p {
    max-width: 80vw;
    font-size: 1.4em;
    margin: 10px;
  }

  .info-container h1 {
    max-width: 80vw;
    font-size: 2.7em;
    margin: 10px;
  } */
}

@media screen and (max-width: 1000px) {
  .loading-anim {
    width: 50vw;
    height: 50vw;
  }
  /* .info-icon {
    width: 15vw;
    height: 15vw;
    max-width: 100px;
    max-height: 100px;
  }

  .info-container p {
    max-width: 80vw;
    margin: 10px;
    font-size: 2.2em;
  }

  .info-container h1 {
    max-width: 80vw;
    font-size: 4em;
  } */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
}
